/* Global Styles */
:root {
  --primary-color: #1ec39a;
  --dark-color: #2a2b2a;
  --light-color: #eeeeee;
  --danger-color: #d62436;
  --success-color: #086b1f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.review-form .review-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.review {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.review > div:first-child {
  text-align: center;
}

.review img {
  width: 100px;
}

.review .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.review .review-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .review {
    grid-template-columns: 1fr;
  }
  .review a,
  .review button {
    padding: 0.3rem 0.4rem;
  }
}
.img-container {
  background-color: #7ee9b700;
  height: 50%;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 948px;
}

img {
  width: 100%;
  height: auto;
}

.content {
  position: relative;
  text-align: center;
}

.list-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px !important;
  transition: 0.3s;
  background-color: var(--dark-color);
  position: relative;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.profile-list-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px !important;
  transition: 0.3s;
  background-color: var(--dark-color);
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.btn-rounded {
  border-radius: 6px !important;
}

.watchlist-btn {
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  color: rgb(58, 119, 86);
  position: absolute;
  box-shadow: #414141;
  bottom: 5px;
  right: 5px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 700px) {
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (max-width: 700px) {
  .column {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
    padding-bottom: 5px;
  }
}

ul {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.pagination {
  text-decoration: none;
  top: 100%;
}

.pagination a {
  color: var(--primary-color);
  float: left;
  padding: 8px 16px;
}

.preview-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 700px) {
  .preview-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.preview-column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
  -ms-flex: 0 0 20%;
  flex: 2 2 20%;
  max-width: 20%;
}

@media (max-width: 700px) {
  .preview-column {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
    padding-bottom: 5px;
  }
}

.movie-img {
  grid-area: img;
  background-color: #7ee9b700;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
  max-width: 948px;
}

.movie-about {
  grid-area: about;
  margin-top: auto;
  margin-bottom: auto;
}

.movie-details {
  grid-area: details;
  margin-top: auto;
  margin-bottom: auto;
}

.movie-genres {
  grid-area: genres;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.movie-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px !important;
  transition: 0.3s;
  background-color: var(--dark-color);
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 3rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.movie-grid {
  display: grid;
  grid-template-areas:
    'img about'
    'details genres'
    'actions actions'
    'reviews reviews';
  grid-gap: 1rem;
}

.movie-results {
  text-align: center;
}

.movie-reviews {
  grid-area: reviews;
  margin-top: auto;
  margin-bottom: auto;
}
.movie-actions {
  grid-area: actions;
  margin-top: auto;
  margin-bottom: auto;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  padding: 1rem;
}

.search-term {
  width: 100%;
  border: 3px solid var(--primary-color);
  border-right: none;
  padding: 5px;
  height: 50px;
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-size: large;
  outline: none;
  color: #9dbfaf;
}

.search-term:focus {
  color: var(--primary-color);
}

.search-button {
  width: 40px;
  height: 50px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.button-list {
  position: relative;
  display: inline-block;
  min-height: 3rem;
  width: 30%;
  max-height: 12rem;
  margin: 0;
  padding: 0;
  background: rgba(204, 204, 204, 0.137);
  border: 0.05rem solid #000;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.15s ease-out;
}
.button-list--active {
  transition: height 0.25s ease-in;
}
.button-list--active .button-list__lists {
  display: block;
}
.button-list--active .button-list__content {
  border-bottom: 0.05rem solid #000;
}
.button-list--active .button-list__footer {
  position: absolute;
}
.button-list__content {
  position: relative;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  background: rgba(204, 204, 204, 0);
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  z-index: 4;
}
.button-list__content i {
  margin: 0 1rem 0 0;
}
.button-list__lists {
  position: relative;
  display: none;
  width: 100%;
  max-height: 9.2rem;
  margin: 0;
  padding: 0.5rem 1rem;
  list-style: none;
  border-bottom: 0.05rem solid #000;
  box-sizing: border-box;
  z-index: 3;
  overflow-y: scroll;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}
.button-list__lists li {
  color: #000;
}
.button-list:hover {
  transition: height 0.25s ease-in;
}
.button-list:hover .button-list__footer {
  position: relative;
  transition: position 0.25s ease-in;
}
.button-list:hover .button-list__content {
  border-bottom: 0.05rem solid #000;
}
.button-list__footer {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0.8rem 0;
  box-sizing: border-box;
  z-index: 2;
  transition: position 0.15s ease-out;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.button-item {
  padding: 0.5rem;
}

.add-btn {
  background-color: var(--primary-color);
  color: #2a2b2a;
  font: bolder;
  white-space: nowrap;
}

.remove-btn {
  background-color: #2a2b2a;
  color: var(--primary-color);
  font: bolder;
  white-space: nowrap;
}

#poster-image {
  left: 0;
  z-index: 0;
}
#user-image {
  position: relative;
  left: -25px;
  bottom: 125px;
  z-index: 1;
  width: 20%;
}
